<div class="container"><br>


  <div class="row">
      <h3>Create Ad</h3><br>
      <div class="col-md-8 mt-2">
          <form [formGroup]="form" (ngSubmit)="update()">
            @for(error of errors; track error){
              <div class="bg-red-100 border mb-2 flex flex-col gap-2 border-red-400 text-red-400 px4 py4 rounded-md relative">
                <div class="text-xs p-2">{{error.description}}</div>
              </div>
              }
              <div class="form-group">
                  <label for="nickname"  class="mb-1">NickName</label>
                  <input type="text" id="nickname" formControlName="nickname" class="form-control" placeholder="Enter Pet NickName">

              </div>
              <br>
              <div class="form-group">
                  <label for="description"  class="mb-1">Pet Descriptions</label>
                  <div class="form-line">
                      <textarea rows="5" id="description"
                          formControlName="description" class="form-control"
                          placeholder="Enter description">
                          </textarea>

                  </div>
              </div><br>
              <div class="row">
                  <div class="col-md-4 mb-4">
                      <div class="form-group">
                          <label for="breed"  class="mb-1">Breed</label>
                          <div class="form-line">
                              <input  formControlName="breed" id="breed"
                                  class="form-control" placeholder="Enter breed">
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="gender"  class="mb-1">Gender</label>
                          <div class="form-line">
                            <input id="gender" formControlName="gender"
                                class="form-control" placeholder="Enter gender">
                        </div>
                      </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                        <label for="color"  class="mb-1">Color</label>
                        <div class="form-line">
                          <input id="color" formControlName="color"
                              class="form-control" placeholder="Enter color">
                      </div>
                    </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                      <label for="size"  class="mb-1">Size</label>
                      <div class="form-line">
                        <input id="size" formControlName="size"
                            class="form-control" placeholder="Enter size">
                    </div>
                  </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                    <label for="specialMarks"  class="mb-1">SpecialMarks</label>
                    <div class="form-line">
                      <input id="specialMarks" formControlName="specialMarks"
                          class="form-control" placeholder="Enter specialMarks">
                  </div>
                </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                  <label for="isActive" class="mb-1">Lost Date</label>
                  <input type="date" id="lostDate" class="form-control" formControlName="lostDate">
              </div>
          </div>

          <div class="col-md-12 mt-4">
            <div class="form-group">
                <label for="photo"  class="mb-1">Image Pet</label>
                <app-upload id="photo" [uploadType]="'pet'" formControlName="photo" (onUploadFinished)="uploadFinished($event)"></app-upload>
                <!-- <input type="file" #file id="photo" (change)="file.files && uploadFile(file.files)" formControlName="photo" class="form-control form-control-lg  placeholder:italic placeholder:text-slate-200"  placeholder="Photo"/> -->
            </div>
        </div>
        </div>

              <br>
              <div class="d-grid gap-2">
                  <button class="btn btn-success btn-block" type="submit">Save Product</button>
              </div>
          </form>
          <br><br>
      </div>
      <!-- <div class="col-md-4">
          <h5>Product images</h5>
          <div class="row">
              <div class="col-md-2">
                  <div class="row">
                      <div *ngFor="let prdImg of existingProduct.productImages" class="col-md-12">
                          <img class="card-img-top cursor" src="data:{{prdImg.mime}};base64,{{prdImg.base64Image}}"
                              (click)="setSelectedImage(prdImg)">
                          <hr>
                      </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="margin-top">
                      <div class="card" style="width: 22rem;" *ngIf="selectedPhoto">
                          <img class="card-img-all"
                              src="data:{{selectedPhoto.mime}};base64,{{selectedPhoto.base64Image}}">
                      </div>
                  </div>
              </div>
          </div>
          <app-upload-product-image [productId]="productId" (imageUploadCompleted)="imageUploadCompleted($event)">
          </app-upload-product-image>
      </div> -->
      <div>
        <button class="btn btn-success btn-block w-28 h-10 mb-4 flex justify-center items-center">
            <a class="nav-link w-full h-full flex justify-center items-center text-white no-underline" routerLink="/">GO BACK</a>
        </button>
    </div>
  </div>
</div>
