<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="LogInfo/internal-nlog.txt">

  <variable name="logDirectory" value="${basedir}/LogInfo" />

  <targets>
    <target name="htmlFile" xsi:type="File"
            fileName="${logDirectory}/${shortdate}_logfile.html"
            layout="${message} | ${exception:format=tostring}&lt;br /&gt;"
            encoding="utf-8"
            includeAllProperties="true"
            archiveFileName="${logDirectory}/archive/{#}.html"
            archiveNumbering="Date"
            archiveAboveSize="5242880"
            archiveEvery="Day"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false"
            createDirs="true"
            fileAttributes="ReadOnly" />

    <target xsi:type="Console"
            name="logconsole"
            layout="${level:uppercase=true} | ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="htmlFile" />
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
  </rules>
</nlog>